<h4>Submit Your Pokemon Thoughts</h4>
<form
	name="threadForm"
	ng-submit="threadForm.$valid && threadCtrl.addThread(pokemon)" 
	class="form-group" 
	novalidate
>
	<blockquote>
		<b>{{threadCtrl.thread.hearts}} Hearts</b>
		{{threadCtrl.thread.thoughts}}
		<cite class="clearfix">by: {{threadCtrl.thread.author}} ({{threadCtrl.thread.email}})</cite>
	</blockquote>
	<select ng-model="threadCtrl.thread.hearts" ng-options="hearts for hearts in [1,2,3,4,5]" class="form-control" title="Hearts" required>
		<option value="">How many hearts for this Pokemon?</option>
	</select>
	<textarea ng-model="threadCtrl.thread.thoughts" placeholder="What do you think?" class="form-control"></textarea required>
	<input ng-model="threadCtrl.thread.author" type="text" placeholder="Name" class="form-control" required />
	<input ng-model="threadCtrl.thread.email" type="email" placeholder="Email" class="form-control" required />
	<input type="submit" class="btn btn-primary" value="Submit" />
	<div>Submission is {{threadForm.$valid}}.</div>
</form>